<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>About</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-2 bg-light rounded-3">
      <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold fs-2">
          Project 7 - Google登入與本地登入系統
        </h1>
        <p class="col-md-8 fs-4 mb-1">
          Project7的練習包括使用EJS、MongoDB、Passport.js、Authentication、OAuth(Google
          Login Setup) 和其他範例。
        </p>
        <p class="col-md-8 fs-4 mb-2">
          可以透過本地註冊(登入)或是直接使用Google登入，以便使用網站的其他功能。
          登入網站後可以發佈類似日誌或是文章。
        </p>
        <a
          href="https://github.com/james-chiou/LoginWebsite"
          target="_blank"
          rel="noreferrer noopenner"
          class="btn btn-primary btn-lg"
          >Github</a
        >
      </div>
    </div>
    <div class="p-2 bg-light rounded-3">
      <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold fs-2">聯絡方式</h1>
        <p class="col-md-8 fs-4 m-0">作者: 邱泓叡</p>
        <p class="col-md-8 fs-4 m-0">信箱: hongjuichiou.james@gmail.com</p>
      </div>
    </div>
  </body>
</html>
